/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Label
{
	color: #FFA81F;
	fontFamily: Arial;
	fontSize: 25;
	fontWeight: normal;
	lineBreak:toFit;
}
